﻿@model IEnumerable<FileUploader.Models.UploadingFile>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="multiple">
        <input type="file" class="multiple" name="files" onchange="loadFile(event)" multiple />
    </div>
    <button class="btn btn-default" type="submit">Upload</button>

    <div>
        These files get updated <br/>
        <div id="uploadFiles">

        </div>
    </div>

    @*<div>
        These files been uploaded..
    </div>
    <div>
        @if (Model != null)
        {
            foreach (var uploadingFile in Model)
            {
                <div>
                    @uploadingFile.FileName
                </div>
            }
        }
    </div>*@
}
<script>
    var loadFile = function(event) {
        var files = event.target.files;

        for (var i = 0; i < files.length; i++) {
            $("#uploadFiles").append("<span>" + event.target.files[i].name + "</span><br>");
        }
    }
</script>
